#main{
    box-sizing: border-box;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(167, 166, 166,0.2);
    width: 1520px;
    height: 70px;
    align-items: center;
}

.hearder-left{
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 630px;


}
#menu-left{
    width: 510px;
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    color: grey;
    
}



#header-right{
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-evenly;

}


#center{

    width: 1195px;
   height: 1180px;
    margin: auto;
}


#rating{
    display: flex;
    justify-content: space-between;
    margin-top:-20px;
}

#rating-star{
    display: flex;
    justify-content: space-evenly;

    width: 200px;
    align-items: center;
}

.heart{
    display: flex;
    align-items: center;
}

#share{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    color:grey;
}

#img{

    display: flex;
    align-items: center;
    margin-top:10px
}

.img-small{
    width: 750px;
    padding-left: 25px;
}

#description{
    padding-top: 15px;
    justify-content: space-between;
    height: 390px;
    display: flex;
}
#description-left{
    width: 750px;
}

.nd{
    color: grey;
}

.container{
    padding-top: 30px;
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.dichvu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1{
    padding-top: 15px;
    display: flex;
    width: 360px;
    justify-content: space-between;
}
.container2{
    padding-top: 15px;
    display: flex;
    width: 395px;
    justify-content: space-between;
}


#description-right{
    display: flex;
    flex-direction: column;
    border: 2px solid whitesmoke;
    width: 350px;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;

}

#tuade99{
    font-weight: 900;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:aqua;
    padding-left: 250px;
}


#total{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.button{
    width: 300px;
    height: 45px;
    background-color: aqua;
    color: white;
    border:0px;
    border-radius: 3px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button1{
    width: 300px;
    height: 45px;
    color: aqua;
    border:0px;
    border-radius: 3px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}