#main{
    box-sizing: border-box;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(167, 166, 166,0.2);
    width: 1520px;
    height: 70px;
    align-items: center;
}

.hearder-left{
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 630px;


}
#menu-left{
    width: 510px;
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    color: grey;
    
}



#header-right{
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-evenly;

}


#center{

    width: 1195px;
   height: 1180px;
    margin: auto;
}


#rating{
    display: flex;
    justify-content: space-between;
    margin-top:-20px;
}

#rating-star{
    display: flex;
    justify-content: space-evenly;

    width: 200px;
    align-items: center;
}

.heart{
    display: flex;
    align-items: center;
}

#share{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    color:grey;
}

#img{

    display: flex;
    align-items: center;
    margin-top:10px
}

.img-small{
    width: 750px;
    padding-left: 25px;
}

#description{
    
    height: 390px;
 red;
}
#description-left{
    width: 750px;
}

.nd{
    color: grey;
}

.container{
    padding-top: 30px;
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.dichvu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1{
    padding-top: 15px;
    display: flex;
    width: 360px;
    justify-content: space-between;
}
.container2{
    padding-top: 15px;
    display: flex;
    width: 395px;
    justify-content: space-between;
}